DATABASE_URL=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
NEXTAUTH_SECRET=s/jb+bcmIi5o5ipAK9+3MYJf98eLaaxVtj3HBtBKNtk=
NEXTAUTH_URL=localhost
EMAIL_SERVER=smtp://username:password@smtp.example.com:587
EMAIL_FROM=no-reply@happygodorky.com